<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event binding</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="title">
            <img class="photo" :src="src" />
            <h1>{{title}}</h1>
            <div class="description">
              <!-- 如果不是第一天就秀出來 -->
              <!-- index!=0 -->
              <a v-if="index>0" class="arrow left" @click="changeIndex(-1)"></a>
              <div class="menuItem white">
                <span class="number">{{ index+1}}</span>
                <span class="type">{{today.type}}</span>
                <a class="title" :href="menu[index].link">{{today.title}}</a>
              </div>
              <!-- 如果不是最後一天就秀出來 -->
              <!-- index!=total -->
              <a
                v-if="index < total-1"
                class="arrow right"
                @click="changeIndex(1)"
              ></a>
              <!-- v-on:click="changeIndex(1)" -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script>
      let data = {
        src: "photo.png",
        title: "Vue2 練習#2",
        index: 0,
        menu: [
          { type: "介紹", title: "我的 Github", link: "javascript:;" },
          { type: "proj", title: "聖誕遊戲網頁", link: "javascript:;" },
          {
            type: "proj",
            title: "雞尾酒網頁",
            link: "javascript:;",
          },
        ],
      };
      let vm = new Vue({
        el: "#app",
        data: data,
        computed: {
          today() {
            return this.menu[this.index];
          },
          total() {
            return this.menu.length;
          },
        },
        methods: {
          changeIndex(change) {
            this.index = (this.index + change + this.total) % this.total; //用餘數去算，達到循環的效果
            //單層的狀況，this指向整個vue
          },
        },
      });
    </script>
  </body>
</html>
